/1-What_is_Optimization.pdf
/10-Blending_of_Input_Materials.pdf
/11-Formulating_Solving_Integer_Programs.pdf
/12-Decision_Making_Under_Uncertainty_and_Stochastic_Programs.pdf
/13-Portfolio_Optimization.pdf
/14-Multiple_Criteria_Goal_Programming.pdf
/15-Economic_Equilibria_and_Pricing.pdf
/16-Game_Theory_and_Cost_Allocation.pdf
/17-Inventory_Production_Supply_Chain_Management.pdf
/18-Design_Implementation_of_Service_and_Queuing_Systems.pdf
/19-Design_Implementation_of_Optimization-Based_Decision_Support_Systems.pdf
/2-Solving_Math_Programs_with_LINGO.pdf
/3-Analyzing_Solutions.pdf
/4-Model_Formulation_Process.pdf
/5-Sets_View_of_the_World.pdf
/6-Product_Mix_Problems.pdf
/7-Covering_Staffing_Cutting_Stock_Models.pdf
/8-Networks_Distribution_PERT_CPM.pdf
/9-Multi-period_Planning_Problems.pdf
/Chapter1.pdf
/Chapter10.pdf
/Chapter11.pdf
/Chapter12.pdf
/Chapter13.pdf
/Chapter14.pdf
/Chapter15.pdf
/Chapter17.pdf
/Chapter18.pdf
/Chapter19.pdf
/Chapter2.pdf
/Chapter3.pdf
/Chapter4.pdf
/Chapter5.pdf
/Chapter6.pdf
/Chapter7.pdf
/Chapter8.pdf
/Chapter9.pdf
